
const questionLine = (question, index) => `${index+1}. ${question}`

return `
Hello my name is Jack. 
Given the following questions:
${questions.map(questionLine).join('\n')}
I want you to generate a list of answers. 
`
