allowBuilds:
  '@firebase/util': true
  esbuild: true
  protobufjs: true
catalog:
  typescript: "7.0.2"
  react: "19.2.8"
  react-dom: "19.2.8"
  "@types/node": "^24.13.3"
  "@types/react": "19.2.18"
  "@types/react-dom": "19.2.5"
  vite: "8.2.2"
overrides:
  react: "catalog:"
  react-dom: "catalog:"
  "@types/node": "catalog:"
  "@types/react": "catalog:"
  "@types/react-dom": "catalog:"
  vite: "catalog:"
