@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground selection:bg-blue-300 selection:text-blue-900;
    min-height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--color-muted) var(--color-background);
  }

  #root {
    height: 100%;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
  }
}
