/* N-able visual exploration: https://www.n-able.com/ (September 2026). */
:root {
    --background: #faf9fc;
    --foreground: #140628;

    --card: #ffffff;
    --card-foreground: #140628;
    --popover: #ffffff;
    --popover-foreground: #140628;
    --tooltips: #eee7fa;

    --primary: #38dbff;
    --primary-foreground: #140628;
    --primary-background: #140628;

    --secondary: #352348;
    --secondary-background: #eee9f4;

    --muted: #665b73;
    --muted-background: #f0edf5;

    --destructive: oklch(50.5% 0.213 27.518); /* Dark Red */
    --destructive-background: oklch(97.1% 0.013 17.38); /* Light Red */

    --success: oklch(52.7% 0.154 150.069); /* Dark Green */
    --success-background: oklch(98.2% 0.018 155.826); /* Light Green */

    --attention: oklch(55.48% 0.12708 62.5245); /* Dark Yellow */
    --attention-background: oklch(98.7% 0.026 102.212); /* Light Yellow */

    --done: oklch(49.6% 0.265 301.924); /* Dark Purple */
    --done-background: oklch(97.7% 0.014 308.299); /* Light Purple */

    --info: #6420ad;
    --info-background: #f1e8ff;

    --border: #ddd5e8;
    --input: #c9bdd7;
    --ring: #8c32df;

    --chart-1: #6420ad;
    --chart-2: #087b96;
    --chart-3: #9a24ce;
    --chart-4: #bd6207;
    --chart-5: #26794d;

    --sidebar: #140628;
    --sidebar-foreground: #f7f4fc;
    --sidebar-primary: #38dbff;
    --sidebar-primary-foreground: #140628;
    --sidebar-accent: #352047;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #392449;
    --sidebar-ring: #38dbff;

    --topnav-background: #140628;
    --topnav-foreground: #f7f4fc;
    --topnav-primary: #38dbff;
    --topnav-primary-foreground: #140628;
    --topnav-accent: #352047;
    --topnav-accent-foreground: #ffffff;
    --topnav-border: #392449;
    --topnav-ring: #38dbff;

    --preprod: oklch(63.89% 0.103 201.59);
    --preview: oklch(46.95% 0.233 303.17);
    --development: oklch(44.30% 0.193 261.11);
    --production: oklch(50.5% 0.213 27.518); /* Dark Red */
}

.dark {
    --background: #140628;
    --foreground: #f7f4fc;

    --card: #211333;
    --card-foreground: #f7f4fc;
    --popover: #291a3d;
    --popover-foreground: #f7f4fc;

    --tooltips: #39264f;

    --primary: #38dbff;
    --primary-foreground: #140628;
    --primary-background: #140628;

    --secondary: #f3eafa;
    --secondary-background: #30203f;

    --muted: #beb2cc;
    --muted-background: #291b3a;

    --destructive: oklch(70.4% 0.191 22.216); /* Mid Red */
    --destructive-background: oklch(70.4% 0.191 22.216 / 0.2); /* Mid Red */

    --success: oklch(79.2% 0.209 151.711); /* Mid Green */
    --success-background: oklch(79.2% 0.209 151.711 / 0.2); /* Mid Green */

    --attention: oklch(85.2% 0.199 91.936); /* Mid Yellow */
    --attention-background: oklch(85.2% 0.199 91.936 / 0.2); /* Mid Yellow */

    --done: oklch(71.4% 0.203 305.504); /* Mid Purple */
    --done-background: oklch(71.4% 0.203 305.504 / 0.2); /* Mid Purple */

    --info: #d7a3ff;
    --info-background: #352047;

    --border: #473354;
    --input: #614b72;
    --ring: #38dbff;

    --chart-1: #38dbff;
    --chart-2: #c046ff;
    --chart-3: #ad8fff;
    --chart-4: #ffc16b;
    --chart-5: #79d9af;

    --sidebar: #140628;
    --sidebar-foreground: #f7f4fc;
    --sidebar-primary: #38dbff;
    --sidebar-primary-foreground: #140628;
    --sidebar-accent: #352047;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #392449;
    --sidebar-ring: #38dbff;

    --topnav-background: #140628;
    --topnav-foreground: #f7f4fc;
    --topnav-primary: #38dbff;
    --topnav-primary-foreground: #140628;
    --topnav-accent: #352047;
    --topnav-accent-foreground: #ffffff;
    --topnav-border: #392449;
    --topnav-ring: #38dbff;

    --preprod: oklch(63.89% 0.103 201.59);
    --preview: oklch(46.95% 0.233 303.17);
    --development: oklch(44.30% 0.193 261.11);
    --production: oklch(50.5% 0.213 27.518); /* Dark Red */
}
