name: composable

on:
  - push

permissions:
  contents: read

jobs:
  composableai-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm -r build

  api-fetch-client-test:
    runs-on: ubuntu-latest
    needs: composableai-build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - run: npm --prefix packages/api-fetch-client test

  client-test:
    runs-on: ubuntu-latest
    needs: composableai-build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm build
      - run: pnpm --prefix packages/client test

  converters-test:
    runs-on: ubuntu-latest
    needs: composableai-build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - name: Install pandoc
        uses: pandoc/actions/setup@main
      - name: Install mutool
        run: |
          sudo apt-get update
          sudo apt-get install -y mupdf-tools
        shell: bash
      - run: pnpm install
      - run: npm --prefix packages/converters test

  json-test:
    runs-on: ubuntu-latest
    needs: composableai-build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - run: npm --prefix packages/json test

  workflow-test:
    runs-on: ubuntu-latest
    needs: composableai-build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - name: Install pandoc
        uses: pandoc/actions/setup@main
      - name: Install mutool
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick mupdf-tools
        shell: bash
      - run: pnpm install
      - run: pnpm build
      - run: npm --prefix packages/workflow test

  template-smoke-test:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/preview'
    needs: composableai-build
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Smoke test published packages
        run: ./.github/bin/test-template-smoke.sh --release-type release

  notify-repo-studio:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/repo-dispatch')
    needs:
      - api-fetch-client-test
      - client-test
      - converters-test
      - json-test
      - workflow-test
    steps:
      - name: Notify repository vertesia/studio
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.REPO_STUDIO_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            --fail-with-body \
            https://api.github.com/repos/vertesia/studio/dispatches \
            -d '{
              "event_type": "update-git-submodule-request",
              "client_payload": {
                "composableai_sha": "${{ github.sha }}",
                "branch": "main",
                "sender": "${{ github.actor }}"
              }
            }'
