name: publish-npm-packages

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Dry Run
        required: true
        type: boolean
        default: true
      version_type:
        description: Version Change Strategy
        required: true
        type: choice
        options:
          - minor
          - patch
          - dev
        default: dev

permissions:
  id-token: write  # Required for OIDC between GitHub and NPM
  contents: write  # Required to push version changes for preview

jobs:
  publish:
    name: Publish all packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          cache: "pnpm"

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm --version

      - run: pnpm install

      - name: Publish all packages
        run: ./.github/bin/publish-all-packages.sh \
            --ref "${{ github.ref_name }}" \
            --dry-run "${{ inputs.dry_run }}" \
            --version-type "${{ inputs.version_type }}"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
